<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.project1.dao.SUserDao">

    <!--  通过学号查询密码 -->
    <select id="login" parameterType="string" resultType="string">
        select password from user_s where studentid = #{studentId}
    </select>

    <!--  通过学号密码查询真实姓名  -->
    <select id="getRealName" parameterType="string" resultType="string">
        select realname from user_s where studentid = #{studentId} and password = #{password}
    </select>

    <!--  通过学号查询真实姓名  -->
    <select id="getRealameById" parameterType="string" resultType="string">
        select realname from user_s where studentid = #{studentId}
    </select>

    <!--  插入学号，姓名，密码  -->
    <insert id="register" parameterType="com.project.project1.entity.User_s">
        insert  into user_s(studentid,realname,password) values (#{studentId},#{realName},#{password})
    </insert>

    <insert id="inputByUserS" parameterType="com.project.project1.entity.User_s">
        insert into user_s(studentid,realname,gender,college,grade,profession,classes,birth,password) values (#{studentId,},#{realName},#{gender},#{college},#{grade},#{profession},#{classes},#{birth},#{password})
    </insert>


</mapper>